@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
}

.Membros{
    text-align: -webkit-center;
    font-family: 'Inter';

}

.membros-buttons{
    width: 474px;
    height: 72px;
    background-color: #f2f7fe;
    color: #2F2C4A;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  
    margin: 40px;
    margin-bottom: 44px;
}

.membros-button-azul{
    background-color: #217BF4;
    color: #FFF;
    width: 150px;
    height: 56px;
    border-radius: 14px;
    box-shadow: 0px 7px 22px -6px rgba(0, 72, 168, 0.34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.membros-toggle-text{
    width: 150px;

}

.membros-figure{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.membros-images-elements-1{
    width: 270px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
    border-radius: 14px;
}

.membros-images-elements-2{
    width: 270px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid rgba(243, 243, 243, 0.5);
    border-radius: 14px;
}

.membros-span-1{
    color:#2F2C4A;
    font-weight: 600;
    font-size: 24px;
}

.membros-span-2{
    color:#656464;
    font-weight: 400;
    font-size: 16px;
}

.membros-image{
    width: 166px;
    height: 166px;
}

.membros-h2{
    color:#217BF4;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.membras-h1{
    color:#0A093D;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}

.membros-p{
    width: 454px;
    height: 56px;
    left: 493px;
    top: 166px;

    color:#656464;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    line-height: 28px;
}

.Publicidade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #E5F0FD;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

.Publicidade-h2{
    color: #217BF4;
    font-weight: 500;
    font-size: 18px;  
    margin: 0;
}

.Publicidade-h1{
    color:#0A093D;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    width: 351px;
    height: 104px;
    left: 135px;
    top: 150px;
    margin: 0;
}

.Publicidade-p{
    color: #656464;
    font-weight: 400px;
    font-size: 16px;
    width: 341px;
    height: 78px;
    left: 135px;
    top: 272px; 
}

.Publicidade-figure{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.Publicidade-figure-1{
    width: 145px;
    height: auto;
    border: none;
}

